POSTGRES_URI="postgresql+asyncpg://postgres:postgres@localhost:5432/databridge" # Required for PostgreSQL database, not needed if running docker compose
MONGODB_URI="..." # Optional: Only needed if using MongoDB

UNSTRUCTURED_API_KEY="..." # Optional: Needed for parsing via unstructured API
OPENAI_API_KEY="..." # Optional: Needed for OpenAI embeddings and completions
ASSEMBLYAI_API_KEY="..." # Optional: Needed for combined parser
ANTHROPIC_API_KEY="..." # Optional: Needed for contextual parser
AWS_ACCESS_KEY="..." # Optional: Needed for AWS S3 storage
AWS_SECRET_ACCESS_KEY="..." # Optional: Needed for AWS S3 storage

# The following variables are used in the docker compose file. They all have default values
JWT_SECRET_KEY="..."  # Required in production, optional in dev mode (dev_mode=true in databridge.toml)
# Postgresql variables
PGUSER=datbridge
PGPASSWORD=databridge
PGDATABASE=databridge
PGPORT=5432

# Databridge variables
DATABRIDGE_PORT="..." # Defaults to 8000
DATABRIDGE_HOST="..." # Defaults to 0.0.0.0
DATABRIDGE_LOG_LEVEL="..." # Defaults to DEBUG
GEMINI_API_KEY="..." # Optional: Needed for Google Gemini models
